.imagem{
    background-image: url(.../static/imagens/tesla.png);
    background-image: url(.../static/imagens/model-3.png);
    background-image: url(.../static/imagens/model-x.png);
    background-image: url(.../static/imagens/model-y.png);
    background-image: url(.../static/imagens/model-s.png);
    
}