{% extends 'layout.html' %}
{% block title %}Cadastro Tesla{% endblock %}
{% block content %} 
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form action="/cadastro" method="POST">
        <div class="form-group">
          <label for="ano">Ano:</label>
          <input type="number" class="form-control" id="ano" name="ano">
          <div class="form-group">
            <label for="placa">Placa:</label>
            <input type="text" name="placa" class="form-control text-left" id="placa" inlength="7" maxlength="7"
              title="Digite exatamente 7 caracteres">
          </div>
          <div class="form-group">
            <label for="modelo">Modelo:</label>
            <input type="text" class="form-control" id="modelo" name="modelo">
          </div>
          <div class="form-group">
            <label for="quilometragem">Quilometragem:</label>
            <input type="number" class="form-control" id="quilometragem" name="quilometragem">
          </div>
          <div class="form-group">
            <label for="cor">Cor:</label>
            <input type="text" class="form-control" id="cor" name="cor">
          </div>
          <div class="form-group">
            <label for="marca">Marca:</label>
            <select class="form-select" id="marca" name="marca">
              <option value="null"></option>
              <!--Inserir o For do Backend -->
            </select>
          </div>
          <div class="form-group mt-1,5">
            <label for="transmissao">Transmissão</label>
            <select class="form-select" id="transmissao" name="transmissao">
              <option value="null"></option>
              <!--Inserir o For do Backend -->
            </select>
          </div>
          <div class="form-group mt-1,5">
            <label for="classificacao">Classificação</label>
            <select class="form-select" id="classificacao" name="classificacao">
              <option value="null"></option>
              <!--Inserir o For do Backend -->
            </select>
          </div>
          <div class="form-group mt-1.5">
            <label for="tipo">Tipo</label>
            <select class="form-select" id="tipo" name="tipo">
              <option value="null"></option>
              <!--Inserir o For do Backend -->
            </select>
          </div>
          <button type="submit" class="btn btn-dark mt-2">Enviar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}