{% extends 'layout.html' %}
{% block title %}Veiculos{% endblock %}
{% block content %}
  <div class="container">
    <h2 class="row justify-content-center mt-4">Cadastro de Veículos</h2>
    <a href="/cadastro" class="btn btn-sm btn-outline-dark">Novo Cadastro
      <ion-icon name="add-circle-outline"></ion-icon>
    </a>
  </div>
  <div class="container mt-3">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Usuário</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Ano</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Quilometragem</th>
                    <th scope="col">Cor</th>
                    <th scope="col">Transmissão</th>
                    <th scope="col">Classificação</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
              {% for veiculo in veiculos %}
              <tr>
                  <td>{{ veiculo[0] }}</td>
                  <td class="text-truncate">{{ veiculo[1] }}</td>
                  <td class="text-truncate">{{ veiculo[2] }}</td>
                  <td class="text-truncate">{{ veiculo[3] }}</td>
                  <td class="text-truncate">{{ veiculo[4] }}</td>
                  <td class="text-truncate">{{ veiculo[5] }}</td>
                  <td class="text-truncate">{{ veiculo[6] }}</td>
                  <td class="text-truncate">{{ veiculo[7] }}</td>
                  <td class="text-truncate">{{ veiculo[8] }}</td>
                  <td class="text-truncate">{{ veiculo[9] }}</td>
                  <td class="text-truncate">{{ veiculo[10] }}</td>
                  <td class="">
                      <a href="/veiculos/{{ veiculo[0] }}/editar" class="btn btn-sm btn-outline-dark" id="editar"> Editar
                          <ion-icon name="create-outline"></ion-icon>
                      </a>
                      <form method="POST" action="/veiculos/{{ veiculo[0] }}/delete" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-outline-danger" id="excluir" onclick="return confirm('Deseja realmente excluir este veículo?')">Excluir
                          <ion-icon name="trash-outline"></ion-icon>
                      </form>

                  </td>
              </tr>
              {% endfor %}          
            </tbody>
        </table>
    </div>
</div>
{% endblock %}